/* typography & basics */
body {
    font-family: Catamaran, Carlito, sans-serif;
    line-height: 1.875;
    font-size: 0.985em;
    max-width: 960px;
    padding: 1em;
    margin: 0 auto;
    color: #ceb996;
    background-color: #3c0f0c;
}

pre, code {
    font-family: "PT Mono", "Fira Sans", monospace;
}

h1 {
    font-weight: normal;
    font-size: 5.5em;
    line-height: 1;
    color: #faebd7;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;;
}

img {
    max-width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

.header-text p {
    font-size: 1.25em;
}

.header-logo {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header-text, .header-logo {
        width: 50%;
        box-sizing: border-box;
        padding: 1em;
    }

    .header-text {
        float: left;
    }

    .header-logo {
        padding-top: 10em;
        float: right;
    }
}
